// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/* 広告一覧画面 */
#ad_sammary {
  img { border: 1px solid #999; }
  table {
    border-collapse: collapse;
    text-align: center;
  }
  tr {
    &:nth-child(n+2){ height: 110px; }
    &:nth-child(even){ background: #eee; }
    &:nth-child(n+2):hover {
      background: #ccc;
      cursor: pointer;
    }
  }
  td {
    word-wrap: break-word;
    &:nth-child(1) { width: 200px; }
    &:nth-child(2) { width: 200px; }
    &:nth-child(3) { width: 200px; }
  }
}

/* 広告詳細画面 */
#ad_show {
  img { border: 1px solid #999; }
  table {
    border-collapse: collapse;
    text-align: center;
  }
  tr:nth-child(1){ background: #b4f1b4; }
  tr:nth-child(2){ height: 220px; }
  td {
    word-wrap: break-word;
    &:nth-child(1) { width: 270px; }
    &:nth-child(n+2) { width: 150px; }
  }
}

/* 広告入稿画面 */
#input-page {
  .picture {
    background: gray;
    color: white;
    text-align: center;
    width: 300px;
    height: 250px;
    .discription {
      padding-top: 90px;
    }
  }
}

/* 広告表示枠 */

#ad_frame {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
